body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .spider-leg-container {
    width: 1px;
    height: 1px;
    overflow: display;
    will-change: transform;
  }
  
  .spider-leg-container:hover { cursor: pointer }
  
  .spider-leg-container .spider-leg-pin {
    position: relative;
    z-index: 1;
  }
  
  .spider-leg-container .spider-leg-pin.default-spider-pin{
    position: relative;
    width: 25px;
    height: 41px;
    margin-left: -11.5px;
    margin-top: -38.5px;
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/images/marker-icon.png);
  }
  .spider-leg-container .marker {
    background-image: url('images/college-15.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/
    cursor: pointer;
  }
  
  .spider-leg-container .spider-leg-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: #343434;
    opacity: 0.45;
    transform-origin: bottom;
    z-index: 0;
    height: 0;
  }
  
  .spider-leg-container:hover .spider-leg-line { opacity: 1 }
  
  /* Animations specific styles */
  
  .spider-leg-container.animate {
    -webkit-transition: margin 0.15s linear;
    -moz-transition: margin 0.15s linear;
    -ms-transition: margin 0.15s linear;
    -o-transition: margin 0.15s linear;
    transition: margin 0.15s linear;
  }
  
  .spider-leg-container.initial,
  .spider-leg-container.exit {
    margin-left: 0 !important;
    margin-top: 0 !important;
    height: 0;
  }
  
  .spider-leg-container.animate .spider-leg-line {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
  
    -webkit-transition-delay: inherit;
    -moz-transition-delay: inherit;
    -ms-transition-delay: inherit;
    -o-transition-delay: inherit;
    transition-delay: inherit;
  }
  
  .spider-leg-container.animate.initial .spider-leg-line,
  .spider-leg-container.animate.exit .spider-leg-line { height: 0 !important }

  .spider-leg-container .spider-leg-pin {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
  }
  .spider-leg-container .spider-leg-pin i.type-icon {
    color: white;
  }
  /* Popup styling */

  .mapboxgl-popup {
    padding-bottom: 5px;
    border-radius: 3px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 250px;
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }

  .mapboxgl-popup-content h3 {
    /*background: rgb(61, 59, 59);*/
    background: #3887be;
    text-align: center;
    color: #fff;
    margin: 0;
    display: block;
    padding: 15px;
    font-weight: 700;
    margin-top: -5px;
    font-size: 13px!important;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 5px 10px 5px 10px;
    font-weight: 400;
    font-size: 12px!important;
    line-height: 1.45;
}

  .mapboxgl-container {
    cursor: pointer;
    
  }

  .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 3px;
  }

  .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: rgb(61, 59, 59);
  }
  .filter-ctrl {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
  }
      
  .filter-ctrl input[type='text'] {
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      width: 100%;
      border: 0;
      background-color: #fff;
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      width: 180px;
  }
  /**
  * Set rules for how the map overlays
  * (information box and legend) will be displayed
  * on the page. */
  .map-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.8);
      margin-right: 10px;
      font-family: Arial, sans-serif;
      font-size: 12px;
      overflow: auto;
      border-radius: 3px;
  }

  #legend {
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      line-height: 18px;
      height: auto;
      margin-bottom: 40px;
      width: auto;
  }

  .legend-key {
      display: inline-block;
      border-radius: 20%;
      width: 10px;
      height: 10px;
      margin-right: 5px;
  }
  #menu {
      background: #fff;
      position: absolute;
      z-index: 1;
      top: 55px;
      left: 10px;
      border-radius: 3px;
      width: 120px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      font-family: 'Open Sans', sans-serif;
  }
  
  #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      text-align: center;
  }
  
  #menu a:last-child {
      border: none;
  }
  
  #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
  }
  
  #menu a.active {
      background-color: #3887be;
      color: #ffffff;
  }
  
  #menu a.active:hover {
      background: #3074a4;
  }

 